canvas {
	width: 100%;
	height: 100%;
	background: black;
}
body{
	margin:0 0 0 0;
	background:black;
}
h1{
	color:white;
	background: black;
	margin:0 auto;
	width:300px;
	text-align: center;
}
